* {
    border: 1px solid lightgrey;
}

body {
    display: flex;
    flex-direction: column;
    cursor: url(images/cursor.png), auto;
    background-color: rgb(40,170,0);
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: #f1f7ed;
    border-radius: 10px;
    margin: 15px
}

ul{
    display: flex;
    gap: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

li a {
    padding-right: 1rem;
    color: #000000;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    cursor: url(images/cursor_c.png), auto;
}

.footer {
    background-color: #f1f7ed;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    margin: 1.5rem;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
    padding-left: 1rem;
}

.maincontent {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f7ed;
    border-radius: 1rem;
    margin: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.left-column {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 0;
}

.maincontent h1 {
    margin: 1rem;
    text-align: center;
}

.maincontent p {
    margin: 1rem;
    margin-bottom: 15px;
    text-align: center;
}

button {
    cursor: url(images/cursor_c.png), auto;
    background-color: rgb(82,107,255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

#fologo {
    height: auto;
    width: 50vw;
    padding: 5vh;
}

.program {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content:space-between;
    background-color: #f1f7ed;
    border-radius: 25px;
    margin: 15px;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.cim {
    display: flex;
    justify-content: center;
}

.someinfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoitem {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.programkep {
    height: 30vh;
}